.Order {
  padding: 80px 50px;

  &__paypalychLogo {}
  &__buttonReturnToPay {}
  &__linkToPagePay {}
}

.orderPaypalychLogo {
  object-fit: contain;
}

.buttonReturnToPay {
  padding: 25px 100px;
}

.linkToPagePay {}

.textModifier {}
